/* 静态文件导入 自定义样式*/

@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

#wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    #cf1322, 
    #fa541c, 
    #f39c12, 
    #2ecc71, 
    #25a55b, 
    #10a5a5, 
    #096dd9, 
    #aa6fe9,
    #eb2f96
  );
  background-size: 200% 200%;
  animation: gradientAnimation 20s infinite;
}

footer {
  background: linear-gradient(
    45deg,
    #cf1322, 
    #fa541c, 
    #f39c12, 
    #2ecc71, 
    #25a55b, 
    #10a5a5, 
    #096dd9, 
    #aa6fe9,
    #eb2f96
  );
  background-size: 200% 200%;
  animation: gradientAnimation 20s infinite;
}

footer {
  background-color: rgba(0, 0, 0, 0);
}
